<!doctype html>
<html>
    <head>
        <title>shorty</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div>
            <form id="url-form">
                <input type="text" name="url" placeholder="Enter full url" />
                <input type="submit" value="Compress" />
            </form>
        </div>
        <div id="short-url">
            <p>The url hex is <strong>{{ short_url }}</strong></p>
        </div>
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>
